services:
  storcube-bridge:
    build: ./storcube-bridge  # <--- On ajoute le chemin du dossier ici
    container_name: storcube-stacker-bridge
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
